* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
nav {
    height: 16vh;
    width: 100vw;
    background-color: #0F1115;
    border: 2px solid white;
}


.nav-logo {
    border: 2px solid red;
    margin-top: 10px;
    margin-left: 10px;
    
}

.nav-logo img {
    height: 6rem;
    width: 7rem;
    margin-top: 5px;
}

.nav-logo-events{
     color: #E41E26;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1px;
}

body {
    background-color: #0F1115;
}

main {
    border: 2px solid white;
    /* height: 15vh; */
    width: 100vw;
    margin-top: 10px;
  
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 6rem;
    color: white;
    font-weight: 100;
}

.danger{
    font-family: 'Bebas Neue', sans-serif;
}


.container-card{
      display: flex;
    justify-content: center;
}


.card{
    margin-top: 10px;
    background-color: #1A1D24;
    border: 1px solid wheat;
    height: 15vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.date{
    border: 1px solid #9AA0A6;
    border-radius: 3px;
    width: 3vw;
    height: 7vh;
    /* margin-top: 10px; */
    margin-left: 20px;
    /* background-color: ; */
}